.contact {
    position: relative;
    background-color: $black;
    .title {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 5vw;
        left: 0;
    }
    video {
        width: 100%;
    }
    .btn {
        position: absolute;
        width: fit-content;
        bottom: 5vw;
        left: 50%;
        transform: translateX(-50%);
    }
}