.perspective {
  &-item {
    display: flex;
    margin-bottom: 48px;
    align-items: center;
    padding: 32px 24px 32px 66px;
    background-color: #1a1a1a;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      background-color: $primary-300;
      width: 0;
      height: 0;
      border-radius: 50%;
      left: -20%;
      bottom: -100%;
      transition: 0.5s;
      z-index: 1;
    }
    &__date {
      padding-left: 80px;
      position: absolute;
      font-size: 14px;
      color: $primary-300;
      margin: 0;
      top: 28px;
      left: 28px;
      transform: rotate(90deg) translateY(-100%);
      transform-origin: 0 0;
      transition: 0.5s;
      z-index: 3;
      &::before {
        position: absolute;
        content: "";
        width: 68px;
        height: 1px;
        background-color: $primary-300;
        top: 50%;
        left: 0;
        transition: 0.5s;
      }
    }
    &__pic {
      width: 30%;
      padding-bottom: calc(30% * 0.67);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
      position: relative;
      z-index: 3;
      > img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &__text {
      width: 70%;
      padding-left: 32px;
      position: relative;
      z-index: 3;
    }
    &__title {
      font-size: 24px;
      margin-bottom: 24px;
      font-weight: 700;
      transition: 0.5s;
    }
    &__content {
      font-weight: 100;
      color: $white-700;
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      transition: 0.5s;
    }
    .more {
      right: 24px;
      bottom: 32px;
      transform: translate(calc(100% + 24px), calc(100% + 32px));
      transition: 0.5s;
      position: absolute;
      z-index: 3;
    }
    &:hover {
      &::before {
        width: 150%;
        padding-bottom: 150%;
      }
      .perspective-item {
        &__date {
          color: $black;
          &::before {
            background-color: $black;
          }
        }
        &__title {
          color: $black;
        }
        &__content {
          opacity: 0;
          visibility: hidden;
        }
      }
      .more {
        transform: none;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &-item {
      padding: 20px 20px 20px 66px;
      flex-direction: column;
      &__pic {
        width: 100%;
        padding-bottom: calc(100% * 0.67);
        margin-bottom: 20px;
      }
      &__text {
        width: 100%;
        padding-left: 0;
      }
      &__title {
        font-size: 20px;
        margin-bottom: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        transition: 0.5s;
      }
      &__content {
        font-size: 14px;
      }
    }
  }
}
