body {
  background-color: #000;
  color: #fff;
  font-family: "Zen Kaku Gothic New", "noto sans TC", sans-serif;
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml,<svg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.2348 6.48483C13.3813 6.33839 13.6187 6.33839 13.7651 6.48483C13.9116 6.63128 13.9116 6.86866 13.7651 7.01511L9.26511 11.5151C9.11866 11.6616 8.88128 11.6616 8.73483 11.5151L4.23483 7.01511C4.08839 6.86866 4.08839 6.63128 4.23483 6.48483C4.38128 6.33839 4.61866 6.33839 4.76511 6.48483L8.99997 10.7197L13.2348 6.48483Z' fill='#fff'/></svg>");
  background-size: 18px;
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
}

main {
  overflow: hidden;
  min-height: calc(100vh - 61px);
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 0;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #00dd4a;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  height: 90px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__bg {
  position: absolute;
  width: 115%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  height: 100%;
}

.header__logo {
  width: 125px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__nav ul a:not(.btn) {
  position: relative;
}

.header__nav ul a:not(.btn)::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32fa8c;
  top: calc(100% + 12px);
  left: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  opacity: 0;
}

.header__nav ul a:not(.btn).active, .header__nav ul a:not(.btn):hover {
  color: #32fa8c;
}

.header__nav ul a:not(.btn).active::after, .header__nav ul a:not(.btn):hover::after {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.header__func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  height: 100%;
}

.header__menu {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 5;
}

.header__menu .bar {
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__menu .bar-top {
  top: 4px;
}

.header__menu .bar-middle {
  top: calc(50% - 0.5px);
}

.header__menu .bar-bottom {
  top: calc(100% - 5px);
}

.header__menu.active .bar {
  top: 50%;
  left: 50%;
}

.header__menu.active .bar-top, .header__menu.active .bar-middle {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header__menu.active .bar-bottom {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, transparent 30%);
  -webkit-animation: moveGlass 6s infinite linear;
          animation: moveGlass 6s infinite linear;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header.scrolldown::before, .header.scrolldown::after {
  opacity: 1;
}

.header-menu-bg {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  top: 15px;
  right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 0;
  display: none;
}

.header-menu-bg.active {
  width: 250vw;
  height: 250vw;
  top: -20vw;
  right: -65vw;
}

@media screen and (max-width: 1199px) {
  .header .container {
    max-width: inherit;
  }
}

@media screen and (max-width: 991px) {
  .header {
    height: 70px;
  }
  .header__nav {
    position: fixed;
    height: calc(100vh - 70px);
    top: 70px;
    right: 0;
    max-width: 400px;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
    visibility: hidden;
  }
  .header__nav ul {
    display: block;
    padding: 0 20px;
  }
  .header__nav ul a {
    padding: 12px 40px;
    color: #000;
    font-size: 24px;
  }
  .header__nav ul a::after {
    width: 0;
    height: 1px;
    top: 50%;
    left: -40px;
  }
  .header__nav ul a.active, .header__nav ul a:hover {
    color: #00c83b !important;
  }
  .header__nav ul a.active::after, .header__nav ul a:hover::after {
    width: 60px;
    height: 1px;
    background-color: #00c83b;
    top: 50%;
    left: inherit;
    right: calc(100% - 28px);
    -webkit-transform: none;
            transform: none;
    border-radius: 0;
  }
  .header__nav ul .btn {
    margin-top: 16px;
    margin-left: 40px;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
  .header__nav.active {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    visibility: visible;
  }
  .header__func {
    gap: 16px;
    padding-right: 10px;
  }
  .header-menu-bg {
    display: block;
  }
}

@media screen and (max-width: 575px) {
  .header__logo {
    width: 90px;
  }
  .header__btn {
    padding: 8px 20px;
  }
}

@-webkit-keyframes moveGlass {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes moveGlass {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.btn {
  padding: 16px 28px;
  border-radius: 100px;
  background-color: #32fa8c;
  color: #000;
  position: relative;
  overflow: hidden;
  border: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn:hover::before {
  width: 110%;
  padding-bottom: 110%;
}

.btn::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 0;
  padding-bottom: 0;
}

.btn-white {
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.btn-white svg {
  width: 20px;
  height: 20px;
}

.btn-white svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-white::before {
  background-color: #32fa8c;
}

.title {
  font-size: 64px;
}

.title .highlight {
  color: #32fa8c;
}

.title-wrap {
  overflow: hidden;
}

@media screen and (max-width: 575px) {
  .title {
    font-size: 48px;
  }
}

.footer {
  background-color: #000;
  padding: 16px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 14px;
}

.footer-copyright {
  font-size: 14px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.social a svg {
  width: 16px;
  height: 16px;
}

.social a svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social a:hover {
  background-color: #32fa8c;
  border-color: #32fa8c;
}

.social a:hover svg path {
  fill: #000;
}

@media screen and (max-width: 767px) {
  .social {
    gap: 12px;
  }
  .social a {
    width: 36px;
    height: 36px;
  }
}

.inner-head {
  position: relative;
  padding-top: 100px;
  z-index: 0;
}

.inner-head .container {
  padding: 125px 20px;
}

.inner-head__subtitle {
  font-size: 14px;
  margin-bottom: 8px;
}

.inner-head__subtitle::before {
  content: "/ ";
  font-size: 14px;
  color: #fff;
}

.inner-head__title {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 8px;
}

.inner-head__text {
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}

.inner-head__video {
  position: absolute;
  width: 47%;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.inner-head__video video, .inner-head__video iframe {
  width: 100%;
}

.inner-head__video::before {
  position: absolute;
  content: "";
  height: 30%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000 0%, transparent 100%);
  left: 0;
  bottom: 0;
}

.inner-head--contact .container {
  padding-top: 40px;
}

.inner-head--contact .container .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.inner-head--perspective .container {
  padding: 185px 20px;
}

.inner-head--perspective .inner-head__video {
  width: 62%;
  right: 0;
}

.inner-head--perspective .inner-head__video video {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.inner-head--perspective .inner-head__video::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  background: linear-gradient(to bottom, #000 0%, transparent 100%);
  bottom: inherit;
  top: 0;
}

@media screen and (max-width: 991px) {
  .inner-head {
    padding-top: 70px;
  }
  .inner-head--perspective .inner-head__video {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .inner-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .inner-head .container {
    padding: 60px 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .inner-head__video {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    width: 100%;
    -webkit-transform: none;
            transform: none;
  }
  .inner-head__title {
    font-size: 36px;
  }
  .inner-head__text {
    font-size: 14px;
  }
}

.btn-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-back__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-back__icon img {
  width: 20px;
}

.btn-back > p {
  margin: 0;
  white-space: nowrap;
}

.btn-back:hover .btn-back__icon {
  background-color: #32fa8c;
}

@media screen and (max-width: 575px) {
  .btn-back > p {
    display: none;
  }
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.more p {
  color: #000;
  margin: 0;
}

.more img {
  width: 20px;
}

.home-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-bg__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.home-bg__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.home-section {
  height: 100vh;
  overflow: hidden;
  margin-bottom: 100px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.hero__title {
  width: 750px;
  padding: 0 20px;
}

.hero__text {
  margin: 32px 0 0;
  color: rgba(255, 255, 255, 0.6);
}

.home-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home-title > span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 72px;
  font-weight: 100;
  line-height: 1.2;
}

.home-title > span > span {
  opacity: 0;
}

.home-title-middle {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-title-swiper {
  overflow: hidden;
  height: 90px !important;
  margin-left: 16px;
}

.home-title-swiper .swiper-slide {
  height: 90px !important;
}

.selected .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selected .row {
  margin-left: -12px;
  margin-right: -12px;
  width: 100%;
}

.selected .row > div {
  padding-left: 12px;
  padding-right: 12px;
}

.selected-wrapper {
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
}

.selected-wrapper:hover .selected-item-wrap {
  width: 10%;
}

.selected-wrapper:hover .selected-item__title {
  opacity: 0;
}

.selected-wrapper .selected-item-wrap:hover {
  width: 70%;
}

.selected-wrapper .selected-item-wrap:hover .selected-item__title {
  opacity: 1;
}

.selected-item {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 70vh;
  border-radius: 24px;
  overflow: hidden;
  -webkit-transition: none;
  transition: none;
  will-change: transform;
}

.selected-item-wrap {
  width: 32%;
  -webkit-transition: 1s;
  transition: 1s;
}

.selected-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.selected-item__pic {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.selected-item__title {
  position: absolute;
  padding: 20px;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  width: 100%;
  text-align: right;
  left: 0;
  bottom: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition: 1s;
  transition: 1s;
}

.selected-item:hover::before {
  opacity: 0;
}

.selected-item-1 {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}

.selected-item-2 {
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
}

.selected-item-3 {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}

.works {
  overflow: visible;
}

.works .container {
  position: relative;
  max-width: 1240px;
  height: 100%;
}

.works-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.works-text__wrapper {
  overflow: hidden;
}

.works-text__slogan {
  text-align: center;
  color: #fff;
  font-size: 56px;
  margin-bottom: 0;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  will-change: transform;
}

.works-text__more {
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  will-change: transform;
}

.works-device {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  will-change: transform;
}

.works-device img.mobile {
  width: 12.8%;
}

.works-device img.tablet {
  width: 42.3%;
}

.works-device--top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 0;
  -webkit-transform: translate(-110%, -70%);
          transform: translate(-110%, -70%);
}

.works-device--bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  bottom: 0;
  -webkit-transform: translate(110%, 70%);
          transform: translate(110%, 70%);
}

.other-works .container {
  height: 100%;
}

.other-works-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.other-works-item {
  position: relative;
  padding: 80px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  width: 100%;
}

.other-works-item__wrapper {
  width: 45%;
  overflow: hidden;
}

.other-works-item__text {
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  will-change: transform;
}

.other-works-item__pic {
  width: 45%;
  position: absolute;
  top: 50%;
  right: 80px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.other-works-item__title {
  font-size: 40px;
  font-weight: 100;
  margin-top: 12px;
  margin-bottom: 0;
}

.other-works-item__content {
  font-size: 18px;
  font-weight: 100;
  margin-top: 12px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
}

.other-works-pic {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  will-change: transform;
}

.other-works-pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 0;
}

.testimonial .title {
  text-align: center;
  margin: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  will-change: transform;
}

.testimonial-logo {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-logo__img {
  height: 380px;
  max-width: inherit;
  mix-blend-mode: lighten;
  -webkit-animation: 50s loop 0s linear infinite;
          animation: 50s loop 0s linear infinite;
}

.testimonial-wrapper {
  padding: 100px 20px;
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  will-change: transform;
  width: 100%;
}

.testimonial-inner {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 24px;
}

.testimonial-inner__icon {
  width: 20px;
  margin-bottom: 24px;
}

.testimonial-item {
  position: relative;
  padding-bottom: 20px;
}

.testimonial-item__text {
  font-size: 18px;
  margin-bottom: 24px;
}

.testimonial-item__client {
  text-align: right;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.testimonial-pagination {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 72px !important;
  left: 24px;
}

.testimonial-pagination .swiper-pagination-bullet {
  margin: 0 !important;
  height: 1px;
  width: 100%;
  opacity: 1;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.testimonial-pagination .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  background-color: #32fa8c;
}

.testimonial-pagination .swiper-pagination-bullet-active::before {
  -webkit-animation: 4s bar 0s linear;
          animation: 4s bar 0s linear;
}

.testimonial-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial-client-swiper {
  width: calc(100% - 72px);
  padding-left: 12px;
}

@-webkit-keyframes loop {
  to {
    -webkit-transform: translateX(-100%);
    transform: translate(-100%);
  }
}

@keyframes loop {
  to {
    -webkit-transform: translateX(-100%);
    transform: translate(-100%);
  }
}

@-webkit-keyframes bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.service .title {
  margin-bottom: 32px;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  will-change: transform;
}

.service-swiper {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  will-change: transform;
}

.service-item {
  display: block;
  width: 100%;
  padding-bottom: 140%;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.service-item__pic {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

.service-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  z-index: 1;
}

.service-item::after {
  position: absolute;
  content: "";
  z-index: 1;
  background-color: #32fa8c;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0;
  padding-bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-item__num {
  position: absolute;
  z-index: 2;
  font-size: 14px;
  margin: 0;
  top: 36px;
  right: 36px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-item__wrapper {
  position: absolute;
  width: 100%;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.service-item__title {
  font-size: 28px;
  margin-bottom: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-item .work-tag p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-item:hover::after {
  width: 200%;
  padding-bottom: 200%;
}

.service-item:hover .service-item__title, .service-item:hover .service-item__num {
  color: #000;
}

.service-item:hover .work-tag p {
  border-color: #000;
  color: #000;
}

.work-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-tag > p {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #fff;
  font-size: 14px;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.works-tab {
  margin-bottom: 60px;
}

.works-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.works-tab ul li {
  padding: 0 32px;
  position: relative;
}

.works-tab ul li a {
  padding-bottom: 8px;
}

.works-tab ul li a.active {
  color: #32fa8c;
  font-size: 40px;
  padding: 0;
}

.works-tab ul li a:hover {
  color: #32fa8c;
}

.works-tab ul li::after {
  position: absolute;
  content: "/";
  color: #fff;
  bottom: 8px;
  right: 0;
}

.works-tab ul li:last-child::after {
  display: none;
}

@media screen and (max-width: 575px) {
  .works-tab ul li {
    padding: 0 16px;
  }
  .works-tab ul li a {
    padding-bottom: 4px;
  }
  .works-tab ul li a.active {
    font-size: 32px;
  }
  .works-tab ul li::after {
    bottom: 4px;
  }
}

.works-list .row {
  margin-left: -20px;
  margin-right: -20px;
}

.works-list .row > div {
  padding-left: 20px;
  padding-right: 20px;
}

.works-list-item {
  display: block;
  background-color: #1a1a1a;
  padding: 28px 28px 28px 72px;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

.works-list-item::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 100%;
  background-color: #000;
  top: 0;
  right: 0;
  z-index: 0;
}

.works-list-item::before {
  position: absolute;
  content: "";
  background-color: #32fa8c;
  width: 0;
  height: 0;
  border-radius: 50%;
  left: -50%;
  bottom: -40%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.works-list-item__category {
  padding-left: 80px;
  position: absolute;
  font-size: 14px;
  color: #32fa8c;
  margin: 0;
  top: 28px;
  left: 28px;
  -webkit-transform: rotate(90deg) translateY(-100%);
          transform: rotate(90deg) translateY(-100%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

.works-list-item__category::before {
  position: absolute;
  content: "";
  width: 68px;
  height: 1px;
  background-color: #32fa8c;
  top: 50%;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-list-item__pic {
  position: relative;
  width: 100%;
  padding-bottom: 80%;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
  margin-bottom: 24px;
  z-index: 3;
}

.works-list-item__pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.works-list-item__title {
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: 100;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  position: relative;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-list-item .work-tag {
  margin-bottom: 16px;
  position: relative;
  z-index: 3;
}

.works-list-item .work-tag p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-list-item__bottom {
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.works-list-item__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-list-item__more {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  top: 0;
  left: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-list-item:hover::before {
  width: 200%;
  padding-bottom: 200%;
}

.works-list-item:hover .works-list-item__category {
  color: #000;
}

.works-list-item:hover .works-list-item__category::before {
  background-color: #000;
}

.works-list-item:hover .works-list-item__title {
  color: #000;
}

.works-list-item:hover .works-list-item__more {
  left: 0;
}

.works-list-item:hover .works-list-item__text {
  opacity: 0;
  visibility: hidden;
}

.works-list-item:hover .work-tag p {
  color: #000;
  border-color: #000;
}

.work-detail-head {
  padding: 180px 0 48px;
}

.work-detail-head .row {
  margin-left: -40px;
  margin-right: -40px;
}

.work-detail-head .row > div {
  padding-left: 40px;
  padding-right: 40px;
}

.work-detail-head__pic {
  position: relative;
  width: 100%;
  padding-bottom: 80%;
  border-radius: 20px;
  overflow: hidden;
}

.work-detail-head__pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

@media screen and (max-width: 991px) {
  .work-detail-head {
    padding-top: 100px;
  }
}

.work-detail-text-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  gap: 20px;
}

.work-detail-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 100%;
}

.work-detail-category__line {
  width: 100%;
  height: 0.5px;
  background-color: #32fa8c;
}

.work-detail-category__text {
  font-size: 14px;
  margin: 0;
  color: #32fa8c;
}

.work-detail-overview {
  padding: 24px 28px 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.work-detail-overview__title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 32px;
}

.work-detail-overview__info {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.work-detail-content {
  margin-bottom: 150px;
}

@media screen and (max-width: 575px) {
  .work-detail-overview {
    padding: 20px;
  }
  .work-detail-overview__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .work-detail-overview__info {
    padding-top: 20px;
  }
  .work-detail-content {
    margin-bottom: 80px;
  }
}

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-item p {
  margin: 0;
}

.info-item__title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.info-item__content {
  padding-left: 16px;
}

@media screen and (max-width: 575px) {
  .info-item__title {
    font-size: 16px;
  }
  .info-item__content {
    font-size: 14px;
  }
}

.contact {
  position: relative;
  background-color: #000;
  padding-bottom: 60%;
}

.contact .title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10vw;
  left: 0;
  z-index: 1;
}

.contact video {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.contact .btn {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: 10vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

@media screen and (max-width: 1199px) {
  .contact .title {
    top: 8vw;
  }
  .contact .btn {
    bottom: 8vw;
  }
}

@media screen and (max-width: 991px) {
  .contact {
    padding-bottom: 80%;
  }
  .contact .title {
    top: 8vw;
  }
  .contact .btn {
    bottom: 8vw;
  }
}

@media screen and (max-width: 575px) {
  .contact {
    padding-bottom: 120%;
  }
  .contact .title {
    top: 8vw;
  }
  .contact .btn {
    bottom: 8vw;
  }
}

.contact-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.contact-bg__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  top: 0;
  left: 0;
  z-index: 1;
}

.contact-bg__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.contact-info {
  margin-top: 48px;
}

.contact-info .row {
  margin-left: -10px;
  margin-right: -10px;
}

.contact-info .row > div {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.contact-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.contact-info__title h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.contact-info__icon {
  width: 20px;
}

.contact-info__content {
  padding-left: 32px;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}

.contact-form {
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.contact-form-item {
  margin-bottom: 32px;
}

.contact-form-item > p {
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-form-item > p span {
  font-size: 14px;
  margin-left: 8px;
  color: rgba(255, 255, 255, 0.7);
}

.contact-form-select .row {
  margin-left: -8px;
  margin-right: -8px;
}

.contact-form-select .row > div {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
}

.contact-form-btn {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 12px 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form-btn:hover {
  border-color: #32fa8c;
  color: #32fa8c;
}

.contact-form-btn.active {
  border-color: #32fa8c;
  background-color: #32fa8c;
  color: #000;
}

.contact-form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  gap: 20px;
}

.contact-form-input label {
  height: 55px;
  width: 120px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-form-input input,
.contact-form-input textarea {
  width: calc(100% - 120px - 20px);
  border-bottom: 1px solid #fff;
  color: #fff;
}

.contact-form-input input::-webkit-input-placeholder,
.contact-form-input textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact-form-input input:-ms-input-placeholder,
.contact-form-input textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact-form-input input::-ms-input-placeholder,
.contact-form-input textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact-form-input input::placeholder,
.contact-form-input textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact-form-input input {
  height: 55px;
  padding: 0 16px;
}

.contact-form-input textarea {
  padding: 16px;
  height: 140px;
}

.contact-form .btn {
  margin-left: auto;
  margin-top: 32px;
}

@media screen and (max-width: 1199px) {
  .contact-form {
    padding: 40px;
  }
}

@media screen and (max-width: 575px) {
  .contact-form {
    padding: 40px 20px;
  }
  .contact-form-btn {
    font-size: 14px;
  }
  .contact-form-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-form-input label {
    width: 100%;
    text-align: left;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact-form-input input,
  .contact-form-input textarea {
    width: 100%;
  }
  .contact-form-input input {
    padding: 0;
  }
  .contact-form-input textarea {
    padding: 16px 0;
  }
}

.contact-title {
  position: fixed;
  width: calc(1280px * 0.5);
  top: 130px;
  left: calc((100vw - 1320px) / 2);
  padding: 0 20px;
}

@media screen and (max-width: 1399px) {
  .contact-title {
    width: calc(1140px * 0.5);
    left: calc((100vw - 1140px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .contact-title {
    width: 50%;
    left: 0;
  }
}

@media screen and (max-width: 991px) {
  .contact-title {
    position: static;
    width: 100%;
    margin-bottom: 40px;
  }
}

.about-subtitle {
  margin-bottom: 4px;
  color: #32fa8c;
  font-size: 16px;
  font-weight: 100;
}

@media screen and (max-width: 767px) {
  .about-subtitle {
    font-size: 14px;
  }
}

.process {
  margin-bottom: 140px;
}

.process-title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 52px;
}

.process-wrapper {
  position: relative;
  z-index: 0;
}

.process-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.process-bg {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.process-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.process-item__intro {
  width: 50%;
  padding-right: 80px;
  font-size: 20px;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.process-item__title {
  padding: 20px 28px 24px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100px;
}

.process-item__title h4 {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.process-item__title h4 .highlight {
  font-size: 46px;
  font-weight: 700;
  color: #32fa8c;
  margin-right: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.process-item__title p {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.process-item.active .process-item__intro {
  opacity: 1;
  visibility: visible;
}

.process-item.active .process-item__title {
  background-color: #32fa8c;
}

.process-item.active .process-item__title h4 {
  color: #000;
  font-weight: 700;
}

.process-item.active .process-item__title h4 .highlight {
  font-size: 24px;
  color: #000;
  margin: 0;
}

.process-item.active .process-item__title p {
  color: #000;
}

@media screen and (max-width: 991px) {
  .process-title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .process-bg {
    display: none;
  }
  .process-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px;
    border-radius: 16px;
  }
  .process-item__intro {
    width: 100%;
    padding: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 20px 0 8px;
    font-size: 16px;
    display: none;
    opacity: 1;
    visibility: visible;
    -webkit-transition: none;
    transition: none;
  }
  .process-item__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding: 12px 16px;
    height: auto;
    border-radius: 12px;
  }
  .process-item__title h4 {
    font-size: 18px;
  }
  .process-item__title h4 .highlight {
    font-size: 36px;
  }
  .process-item__title p {
    font-size: 18px;
  }
  .process-item.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .process-item.active .process-item__title h4 .highlight {
    font-size: 18px;
  }
}

.meet-our-team {
  margin-bottom: 140px;
}

.meet-our-team .about-subtitle {
  text-align: center;
}

.meet-our-team__title {
  text-align: center;
  font-size: 140px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 400;
  margin: -24px 0 0;
}

.meet-our-team-wrapper {
  max-width: 940px;
  width: 100%;
  margin: -20px auto 0;
  padding: 0 20px;
}

.meet-our-team-wrapper .row {
  margin-left: -10px;
  margin-right: -10px;
}

.meet-our-team-wrapper .row > div {
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.meet-our-team-sec {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
}

.meet-our-team-sec.join-us {
  gap: 12px;
  text-align: center;
  color: #32fa8c;
  padding: 24px;
  height: 100%;
}

.meet-our-team-sec.join-us h4 {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

.meet-our-team-sec.game {
  padding: 8px;
}

.meet-our-team-sec.game img {
  border-radius: 8px;
  width: 100%;
}

.meet-our-team-sec.avatar-long {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  padding-bottom: 190%;
  position: relative;
}

.meet-our-team-sec.avatar-long > img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.meet-our-team-sec.avatar-sqare {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.meet-our-team-sec.avatar-sqare > img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.meet-our-team-sec.introduce {
  border-radius: 20px;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.meet-our-team-sec.introduce p {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  padding: 20px;
}

.meet-our-team-sec.slogan {
  padding: 24px;
  background-color: #32fa8c;
  height: 100%;
}

.meet-our-team-sec.slogan h4 {
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  color: #000;
}

@media screen and (max-width: 991px) {
  .meet-our-team-sec.slogan {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .meet-our-team__title {
    font-size: 100px;
  }
  .meet-our-team-sec {
    border-radius: 12px;
  }
  .meet-our-team-sec.join-us {
    padding: 16px;
    gap: 8px;
  }
  .meet-our-team-sec.join-us h4 {
    font-size: 18px;
  }
  .meet-our-team-sec.game {
    padding: 4px;
  }
  .meet-our-team-sec.slogan {
    margin-top: 12px;
  }
  .meet-our-team-sec.slogan h4 {
    font-size: 40px;
  }
  .meet-our-team-sec.introduce {
    border-radius: 12px;
  }
  .meet-our-team-sec.introduce p {
    padding: 12px;
    font-size: 14px;
  }
  .meet-our-team-sec.avatar-long, .meet-our-team-sec.avatar-sqare {
    border-radius: 12px;
  }
  .meet-our-team-wrapper .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  .meet-our-team-wrapper .row > div {
    padding-left: 6px;
    padding-right: 6px;
    gap: 12px;
  }
}

@media screen and (max-width: 575px) {
  .meet-our-team__title {
    font-size: 72px;
  }
  .meet-our-team-wrapper {
    margin: -12px auto 0;
  }
}

.term {
  padding: 170px 0;
}

.term h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 52px;
}

@media screen and (max-width: 991px) {
  .term {
    padding: 80px 0 150px;
  }
  .term h1 {
    font-size: 44px;
    margin-bottom: 24px;
  }
}

.perspective-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 24px 32px 66px;
  background-color: #1a1a1a;
  position: relative;
  overflow: hidden;
}

.perspective-item::before {
  position: absolute;
  content: "";
  background-color: #32fa8c;
  width: 0;
  height: 0;
  border-radius: 50%;
  left: -20%;
  bottom: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.perspective-item__date {
  padding-left: 80px;
  position: absolute;
  font-size: 14px;
  color: #32fa8c;
  margin: 0;
  top: 28px;
  left: 28px;
  -webkit-transform: rotate(90deg) translateY(-100%);
          transform: rotate(90deg) translateY(-100%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

.perspective-item__date::before {
  position: absolute;
  content: "";
  width: 68px;
  height: 1px;
  background-color: #32fa8c;
  top: 50%;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.perspective-item__pic {
  width: 30%;
  padding-bottom: calc(30% * 0.67);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 3;
}

.perspective-item__pic > img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.perspective-item__text {
  width: 70%;
  padding-left: 32px;
  position: relative;
  z-index: 3;
}

.perspective-item__title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.perspective-item__content {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.perspective-item .more {
  right: 24px;
  bottom: 32px;
  -webkit-transform: translate(calc(100% + 24px), calc(100% + 32px));
          transform: translate(calc(100% + 24px), calc(100% + 32px));
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  z-index: 3;
}

.perspective-item:hover::before {
  width: 150%;
  padding-bottom: 150%;
}

.perspective-item:hover .perspective-item__date {
  color: #000;
}

.perspective-item:hover .perspective-item__date::before {
  background-color: #000;
}

.perspective-item:hover .perspective-item__title {
  color: #000;
}

.perspective-item:hover .perspective-item__content {
  opacity: 0;
  visibility: hidden;
}

.perspective-item:hover .more {
  -webkit-transform: none;
          transform: none;
}

@media screen and (max-width: 767px) {
  .perspective-item {
    padding: 20px 20px 20px 66px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .perspective-item__pic {
    width: 100%;
    padding-bottom: calc(100% * 0.67);
    margin-bottom: 20px;
  }
  .perspective-item__text {
    width: 100%;
    padding-left: 0;
  }
  .perspective-item__title {
    font-size: 20px;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .perspective-item__content {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */